<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h2>Welcome to a simple web app</h2>


<!-- helper method that fetch the user currently logged in -->
<!-- <p><%#= current_user.email %></p> -->


<!-- helper method to tell you if you're logged in or not -->
<!-- <p><%#=  user_signed_in? %></p> -->



<p><% if user_signed_in? %></p>
<p><%= current_user.email %></p>
<% else %>
 <p>not signed in yet</p>
<% end %>
